#formCorreo {
  background-color: #308fb2;
  padding: 20px;
  border-radius: 8px; /* Opcional, para bordes redondeados */
}

h1 {
font-size: 100%;
font-style: normal;
}

h2 {

font-size: 200%;

}

h2 {
  width: fit-content;          /* El ancho se ajusta al contenido */
  margin-left: auto;
  margin-right: auto;
  text-align: center;          /* Centra el texto dentro del h2 */
}


#formCorreo label {
  color: white;
}

.h1-con-imagenes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 900px;
  width: 100%;
  margin: 40px auto 30px auto;
}

.h1-con-imagenes img {
  width: 80px;
  min-width: 60px;
  height: auto;
  flex-shrink: 0;
}

.h1-con-imagenes h1 {
  max-width: 600px;
  margin: 0;
  word-break: break-word;
  font-size: 120%;
  font-weight: normal;
  text-align: center;
}

.h1-con-imagenes img {
  width: 200px;
  min-width: 90px;
  height: auto;
  flex-shrink: 0;
}
